#bootup config (should be in VMSYSTEM directory)
#single-rom Programs should always be on "TROMA"
#also, single-rom programs can be launched with MK2-RUN.py
#multirom programs can be launched from MK2-RUN.py through the use of streg files. see intro.streg for an example.


#notice: SBTCVM now has a more streamlined means of program-specific configuration called streg.
#the default streg is defined here:
DEFAULTSTREG="intro.streg"


#enable to use step-by-step execution. makes debugging easier :) 
#(when enabled press enter to advance CPU)
#usually this should be zero "0" (aka off) set to one "1" to turn on.
#notice: this has not been updated to work with the new keyscan operations, so its usefulness varies.
stepbystep=0

#cpu wait time (in seconds)
#the default is 0.0005 seconds. shorter delay times cause faster operation provided
#your PC has the processing power.
CPUWAIT=(0.0005)

#frame skipping interval (default 1) 0=off
fskip=1

#default setting for readout updates
#setting this to 1 may speed up SBTCVM on some computers.
#you can toggle the readout update setting in-VM using F4
#step-by-step mode always has readouts enabled regardless of the update setting.
disablereadouts=1

#set this to 1 to disable TTY rendering. (you would still be able to read tty
#output, as SBTCVM mirrors the TTY to standard output.
#(note: the TTY mirroring happens regardless of this setting.)
#this can GREATLY increase speed on some computers.
#especially with TTY-Heavy programs.
ttystyle=0

#LOGGING RELATED SETTINGS BELOW

#MAIN VM ENGINE:

#log execution process in CAP directory:
#Note that these logs can be VERY LONG.
vmexeclogflg=0

#Dump EXEC MEMORY at exit (This will dump the current state of the
#troms in memory, into the CAP directory as TROMA.dmp... TROMB.dmp.. Etc.)
#useful for debugging
logromexit=0
#log IObus on exit this logs the final state of the IObus on exit.
logIOexit=0
#also you can issue "manual" equivalents to these via F10 (filenames will differ from exit dumps)


#LIBTROM:

#log reads. default is 0. libtrom logging must be on for this to work.
logreads=0
#log writes. default is 0. libtrom logging must be on for this to work.
logwrites=0
#libtrom logging. if on, libtrom will log various events in log files in CAP directory.
tromlogging=0